{% extends 'base.html' %}


{% block head %}
<h1>Hello {{account_data.username}}</h1>
{% endblock %}

{% block main %}
<section>
    <article>
        <h3>Menu</h3>
        <ul>
            <li><a href="{% url 'mahasiswa:edit_profile' %}">Edit Profile</a></li>
            <li><a href="{% url 'mahasiswa:list_mata_kuliah' %}">List Matkul</a></li>
            <li><a href="{% url 'portal:logout' %}">Logout</a></li>
        </ul>

        <p>content goes here.</p>
    </article>
</section>
{% endblock %}