* {
    font-family: 'Roboto Mono', monospace;
}

/* header section */
.header {
    background-color: #684CEC;
    border-radius: 30px;
    padding: 2em 1em 2em 1em;
}

.app-title {
    color: white;
}

.matkul-search-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    overflow: hidden;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252, 252, 252, 1);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

/* menubar section */
.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 1em 1em 1em 1em;
    width: 4em;
    height: 6em;
}

.men-button-icon {
    margin: 0.5em 0 0.5em 0;
}

.tugas {
    background-color: #79F99D;
}

.jadwal {
    background-color: #DEC073;
}

.nilai {
    background-color: #9F8BFF;
}

/* module list section */
.module-list {
    margin-bottom: 5em;
}

.title {
    margin-left: 1em;
}

.module-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3em;
}

.module-card {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 15px;
    -webkit-box-shadow: 0 4px 4px 0px rgb(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px 0px rgb(0, 0, 0, 0.25);
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
    width: 8em;
    height: 10em;
}

.module-card:active {
    padding: 1em 1em 1em 1em;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: 0.1s;
}

.matkul-img {
    width: 120px;
    height: auto;
    border-radius: 15px;
}

/* bottom nav bar section */
.bottom-nav-bar {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 1px black;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.7em 0em 0.7em 0em;
    width: 100%;
}

.bot-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot-button-icon {
    margin-top: 0.5em;
}

.bot-button-text {
    margin-top: 1em;
    font-weight: lighter;
}