{% extends 'base.html' %}


{% block head %}
<h1>Edit quiz: {{quiz.judul_quiz}}</h1>
{% endblock %}


{% block main %}
<section>
    <article>
        <h3>edit quiz info:</h3>
        <form action="{% url 'dosen:edit_quiz_materi' materi.id matkul.id quiz.id %}" method="post">
            {% csrf_token %}
            {{form.as_p}}

            {% if form.errors or form.non_field_errors %}
            {% for field in form %}
            {{field.errors}}
            {% endfor %}
            {% endif %}

            <button type="submit">Simpan</button>
        </form>
    </article>

    <article>
        <h3>soal:</h3>
        <ul>
            {% for soal in all_soal %}
            <li>
                <a href="{% url 'dosen:edit_soal_quiz' materi.id matkul.id quiz.id soal.id %}">{{soal.text_soal}}</a> |
                <a href="{% url 'dosen:delete_soal_quiz' materi.id matkul.id quiz.id soal.id %}">Hapus</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'dosen:tambah_soal_quiz' materi.id matkul.id quiz.id %}">Tambah soal</a>
        <br>
        <a href="{% url 'dosen:edit_materi_matkul' materi.id matkul.id %}">Kembali</a>
    </article>
</section>
{% endblock %}