{% extends 'dosen_base.html' %}


{% block content %}
<!-- tambah materi section -->
<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            Tambah Quiz Baru
        </h4>
    </div>

    <div class="card-body">
        <form action="{% url 'dosen:tambah_quiz_materi' materi.id matkul.id %}" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_judul_materi">Judul Quiz</label>
                {{form.judul_quiz}}
            </div>
            <div class="form-group">
                <label for="id_url_video">Waktu Pengerjaan</label>
                {{form.waktu_pengerjaan}}
            </div>

            {% if form.errors or form.non_field_errors %}
            {% for field in form %}
            {{field.errors}}
            {% endfor %}
            {% endif %}

            <button class="btn btn-primary" type="submit">Tambah</button>
            <a class="btn btn-secondary" href="{% url 'dosen:edit_materi_matkul' materi.id matkul.id %}">Kembali</a>
        </form>
    </div>
</div>
<!-- tambah materi section end -->
{% endblock %}